This notebook will walk us through how you can stack multiple dataframes on top of each other from multiple file sources

In [2]:
# do our imports
import pandas as pd
import os

In [3]:
# we can load in the dataframes separately and stack on top of teach other one by one
df1 = pd.read_csv('data-for-concatenation/sample1.csv')
df2 = pd.read_csv('data-for-concatenation/sample2.csv')

In [4]:
# our first dataframe
df1

   Unit  Value
0     A    234
1     B   2354
2     A    876
3     B    587
4     B    213
5     B    487
6     B    976
7     B    452
8     A    365
9     C    213
10    C    542

In [5]:
# our second
df2

   Unit  Value
0     A    234
1     B   2354
2     A    876
3     B    587
4     B    213
5     B    487
6     B    976
7     B    452
8     A    365
9     C    213
10    C    542

In [6]:
# pd.concat will stack the two on top of each other
pd.concat([df1, df2])

   Unit  Value
0     A    234
1     B   2354
2     A    876
3     B    587
4     B    213
5     B    487
6     B    976
7     B    452
8     A    365
9     C    213
10    C    542
0     A    234
1     B   2354
2     A    876
3     B    587
4     B    213
5     B    487
6     B    976
7     B    452
8     A    365
9     C    213
10    C    542

In [7]:
# and we can save it like so
df3 = pd.concat([df1, df2])

If the data is in once location, you can also do this a bit more concisely with the help of the `os` module

In [8]:
# we can use listdir() to get the contents of a single directly
os.listdir('data-for-concatenation')

['sample1.csv', 'sample2.csv', 'sample3.csv', 'sample4.csv', 'sample5.csv']

In [9]:
# since this is a list of all the csv files, we can load them add in with a comprehension
df4 = pd.concat([
    pd.read_csv(f'{file')
    for file in os.listdir('data-for-concatenation')
])

FileNotFoundError: [Errno 2] No such file or directory: 'sample1.csv'